.centered
  %h1 Psychological Cube

%form
  .row
    .large-4.columns
      %label{:for => "name"} Edge 1:
      %input{:type => "text", :name => "name", :class => "text"}
  .row
    .large-4.columns
      %label{:for => "mail"} Edge 2:
      %input{:type => "text", :name => "mail", :class => "text"}
  .row
    .large-4.columns
      %label{:for => "body"} Edge 3:
      %textarea{:name => "body"}
  .row
    .large-4.columns
      %label{:for => "body"} Edge 4:
      %textarea{:name => "body"}
  .row
    .large-4.columns
      %label{:for => "body"} Edge 5:
      %textarea{:name => "body"}
  .row
    .large-4.columns
      %label{:for => "body"} Edge 6:
      %textarea{:name => "body"}
  .row
    .large-4.columns
      %input{:type => "submit", :value => "Download PDF", :class => "button"}
