// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg-img {
  background: image-url("default.jpg") no-repeat center center fixed;
/*  background-position: 10% 20%;*/
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 500px;
  h1 {
    color: #fff;
  }
}

.centered {
  text-align: center;
  h2 {
    font-weight: 400;
  }
}

.button {
  float: right;
}

.logo {
    background: url(../images/Logo.png);
    bottom: 2931px;
    height: 268px;
    left: 289px;
    right: 1990px;
    top: 134px;
    width: 1056px;
}

.text {
  color: #626366;
}

.header {
  .text {
    font-size: 0.9rem;
  }
}

.footer {
  background-color: #d9d9d9;

  img {
    width: 50%;
    float: right;
  }

  div {
    margin-top: 5%;
  }

  .text {
    font-size: 0.8rem;
  }
}
